// ======================
// ========color=========
// ======================

// * basic color
$blackColor: #111927;
$whiteColor: #FBFBFB;
$grayColor: #707176;

// * point color 
$yellowColor: #FBF52D;


// ======================
// =========font=========
// ======================

$dos: 'dos';
$wantedMedium: 'wantedMedium';
$wantedRegular: 'wantedRegular';
$wantedSemiBold: 'wantedSemiBold';
$wantedBold: 'wantedBold';
$wantedExtraBold: 'wantedExtraBold';