// import
@import './variables';
@import './mixins';


// 00. Dot

.white_dot_2,
.black_dot_1,
.black_dot_2{
    margin-left: 10px;
}

.black_dot_3  {
    margin-left: 5px;
}

// 01. Title_Text
.title_text {
    display: flex;
    align-items: end;

    h2 {
        @include wanted_font_style_8;
        margin-right: 10px;
    }
}

.detail_text {
    display: flex;
    align-items: end;
    margin-bottom: 25px;
    
    h2 {
        @include wanted_font_style_12;
        margin-right: 10px;
    }
}

// 02. AboutBtn
.aboutBtn_container {
    display: inline-flex;
    align-items: center;
    padding: 4px 17px;
    background-color: $whiteColor;
    @include wanted_font_style_5;
    border-radius: 5px;
    color: $blackColor;
    gap: 6px;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-3px);
    }
}

// 03. CareerSection
.career_container {
    margin-top: 50px;
    >.career_divider_bold {
        margin-bottom: 30px;
    }

    .career_section {
        margin-bottom: 40px;

        .career_category {
            display: flex;
            @include wanted_font_style_4;
            margin-bottom: 10px;
        }

        .career_list li {
            text-align: right;
            margin-bottom: 18px;

            .career_title {
                @include wanted_font_style_6;
                margin-bottom: 4px;
            }

            .career_info {
                @include wanted_font_style_7;
                display: flex;
                justify-content: end;
                color: $grayColor;

                span {
                    margin: 5px 0 0 20px;
                }
            }
        }

        .career_divider_bold {
            margin-top: 30px;
            border: none;
            border-top: 1px solid $whiteColor;
        }

        .career_divider {
            width: 560px;
            margin: 30px 0 30px auto;
            border: none;
            border-top: 1px solid rgba(255,255,255,0.1);
        }
    }
}

// 04. SkillsSection {
.skills_section {
    width: 100%;
    margin-top: 200px;

    .skills_group {
        margin-top: 50px;
    }
}

.accordion_container {
    border: 1px solid #ccc;
    border-radius: 8px;
    background: $whiteColor;
    color: $blackColor;
    margin-bottom: 16px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.open_btn {
    @include wanted_font_style_9;
    width: 100%;
    background: transparent;
    border: none;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    p {
        display: flex;
    }
}

.accordion_contents {
    padding: 0 20px 20px;
}

.skill_box {
    list-style: none;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        gap: 12px;
        @include wanted_font_style_7;
        padding: 8px 0;

        opacity: 0;
        transform: translateY(10px);
    }

    .animate-items & {
            li {
                animation: fadeSlideItem 0.4s ease forwards;
            }

            li:nth-child(1) { animation-delay: 0.05s; }
            li:nth-child(2) { animation-delay: 0.1s; }
            li:nth-child(3) { animation-delay: 0.15s; }
            li:nth-child(4) { animation-delay: 0.2s; }
            li:nth-child(5) { animation-delay: 0.25s; }
            li:nth-child(6) { animation-delay: 0.3s; }
            li:nth-child(7) { animation-delay: 0.35s; }
            li:nth-child(8) { animation-delay: 0.4s; }
        }

        li b {
            text-align: center;
            @include wanted_font_style_5;
            min-width: 130px;
            display: inline-block;
        }
}

@keyframes fadeSlideItem {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


// 05. BounceObject

.bounce_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    overflow: hidden; 
    max-width: 680px;
    width: 100%; 
    position: relative;
    padding: 0 20px;
    overflow: visible;
}

.bounce_object {
    height: auto;
    opacity: 0;
    position: relative;
    pointer-events: none;
    user-select: none;
    z-index: auto;
}

// 06. ProjectList

.project_filter {
    margin: 50px 0 40px;

    >button {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 17px;
        margin-right: 50px;
        @include wanted_font_style_11;
        color: $grayColor;

        &.active {
            color: $blackColor;
        }
    }
}

.project_list {
    display: grid;
    gap: 50px;
    justify-items: center;
    margin-bottom: 100px;
}

.project_card {
    padding: 30px 20px;
    border-radius: 20px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;

    .thumbnail {
        width: 100%;
        border-radius: 12px;
    }

    .type {
        @include wanted_font_style_7;
        color: $grayColor;
        margin-top: 30px;
    }

    .title {
        @include wanted_font_style_4;
        margin-top: 10px;
    }

    &:hover {
        transform: translateY(-8px);
        opacity: 0.85;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
    }
}


// 07. Footer

footer.footer_wrap {
    width: 100%;
    background-color: $blackColor;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_img {
    width: 100%;
    max-width: 780px;
    margin: 0 auto -5px;
    display: block;
}

.footer_container {
    width: 100%;
    background-color: $blackColor;
    display: flex;
    justify-content: center;

    .footer_content {
        width: 100%;
        max-width: 780px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px 40px;
        color: $whiteColor;

            .footer_left,
            .footer_right {
                @include wanted_font_style_16;
                color: $whiteColor;
                line-height: 140%;
            }

            .footer_right {
                text-align: right;

            .footer_links {
                display: flex;
                a {
                    display: flex;
                    align-items: center;
                    color: $whiteColor;
                    text-decoration: none;
                    margin-left: 10px;
                    line-height: 140%;

                    &:hover {
                        text-decoration: underline;
                    }

                    img {
                        margin-right: 5px;
                        width: 9px;
                        height: 9px;
                    }
                }
            }
        }
    }
}

// 08. TopBtn
.top_btn {
    position: fixed;
    left: 70.6%;
    transform: translate(-50%, 120px);
    padding: 6px;
    bottom: 35px;
    background-color: $blackColor;
    color: $whiteColor;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all .2s ease;

    &.active {
        transform: translate(-50%, 0);
    }
    &:hover {
        background-color: $grayColor;
    }

    img {
        width: 20px;
        height: 20px;
    }
}
